<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script> 
    <title>page not found</title>
</head>
<body class="flex justify-center items-center h-screen">
    <div class="text-center">
      <img src="404.svg" alt="Centered Image" class="mx-auto">
    </div>
  </body>
</html>