<%- include('partials/dash-header'); -%>


    

    </style></head>

<body class="h-screen bg-cover bg-center " style="background-image: url('/images/coverl.jpg')" dir="rtl">

    <div class="flex h-screen">

        <!-- Sidebar -->
        <div class="backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 text-white w-1/5 container  flex h-screen flex-col">

            <!-- Sidebar header -->
            <div class="backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 flex justify-between items-center">

            </div>

            <!-- Sidebar content -->
            <div class="flex-grow overflow-y-auto text-center ">
                <!-- Sidebar items -->
                <a href="#" class="block p-4 hover:bg-black opacity-50 alexandria">الواجهة الرئيسية</a>
                <a href="#" class="block p-4 hover:bg-black opacity-100  alexandria">قائمة المستخدمين</a>
                <a href="#" class="block p-4 hover:bg-black opacity-50 alexandria">مخزن السلع</a>
                <a href="#" class="block p-4 hover:bg-black opacity-50 alexandria">قائمة الممولين</a>
                <a href="#" class="block p-4 hover:bg-black opacity-50 alexandria">قائمة المستفيدين</a>
            </div>

        </div>

        <!-- Main content -->
        <div class="flex-grow p-8 ">

            <div class="py-6 alexandria">
                
                 <!-- Button to open create dialog -->
                <button id="createButton"
                    class=" bg-green-600 hover:bg-green-500 text-white font-light py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    إضافة
                </button>

            </div>
               
                <!-- Table -->
                <div class="flex flex-col justify-center border-width: 1px alexandria  backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 shadow-xl rounded-3xl px-6   lg:px-8">
                <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
                    <table id="example" class="table-auto w-full ">
                        <thead>
                            <tr>
                                <th class="px-4 text-white py-2">الاسم و اللقب</th>
                                <th class="px-4 text-white py-2">العنوان</th>
                                <th class="px-4 text-white py-2">رقم الهاتف</th>
                                <th class="px-4 text-white py-2">الصفة</th>
                                <th class="px-4 text-white py-2">تعديل</th>
                                <th class="px-4 text-white py-2">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td contenteditable="true" class="border px-4 py-2"> <input type="checkbox" />    &nbsp; مصطفى عمر</td>
                                <td contenteditable="true" class="border px-4 py-2">حمادي كرومة</td>
                                <td contenteditable="true" class="border px-4 py-2">0675000008</td>
                                <td contenteditable="true" class="border px-4 py-2">To insert specific multiple values from one table into one column in MySQL using Laravel, you can use a combination of Laravel's query builder and raw SQL queries. Here's a step-by-step guide</td>
                                <td><button class="editButton">تعديل</button></td> 
                                <td><a href="/dashboard/حذف/"><img class="h-6 px-4 " src="/images/delete.png" alt="" srcset=""></a></td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
                
            
                <!-- Create Dialog -->
                <div id="createDialog"
                    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-30 z-50 hidden">
                    <div class="backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 p-6 rounded-lg shadow-lg">
                      <img src="/images/reject.png" class="h-6 absolute top-0 left-0 " id="cancelButton">
      
                        <form class="w-full max-w-lg"  id="adduser">
                            <div class="flex flex-wrap -mx-3 mb-6">
                              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                                  الاسم و اللقب
                                </label>
                                <input id="name" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" placeholder="">
                              </div>
                              <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                                  العنوان
                                </label>
                                <input id="address" name="address" required class="appearance-none block w-full bg-white text-black border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="">
                              </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                  <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                                    رقم الهاتف
                                  </label>
                                  <input id="phone" name="phone" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" placeholder="">
                                </div>
                                <div class="w-full md:w-1/2 px-3">
                                  <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-state">
                                    الصفة
                                  </label>
                                  <div class="relative">
                                    <select id="type" name="type" required class="block appearance-none w-full bg-gray-200 border border-gray-200 text-black py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                      <option>محتاج</option>
                                      <option>متبرع</option>
                                      <option>منظم</option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
                                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <button type="submit" 
                            class="bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">حفظ</button>
                    
                        
                      </form>

                      
                              
                    </div>
                </div>
            </div>
        </div>

        
        

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"> </script>
        <script src="/javascripts/dashboard.js"></script> 


        <script>
          document.getElementById('adduser').addEventListener('submit', function(event) {
              event.preventDefault(); // Prevent form submission
  
              // Get form input values
              const name = document.getElementById('name').value;
              const address = document.getElementById('address').value;
              const phone = document.getElementById('phone').value;
              const type = document.getElementById('type').value;

              // Create an object with form data
              const formData = {
                  name: name,
                  address: address,
                  phone: phone,
                  type:type,
              };
  
              // Send data to Express server
              fetch('/adduser', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(formData)
              })
              .then(response => response.json())
              .then(data => console.log(data))
              .catch(error => console.error('Error:', error));
          });


          
      </script>


<%- include('partials/dash-footer'); -%>

